[Desktop Entry]
Name=Epoptes client service
Name[el]=Υπηρεσία πελάτη του Epoptes
Comment=Epoptes computer lab administation tool client service
Comment[el]=Υπηρεσία πελάτη του λογισμικού διαχείρισης εργαστηρίων Epoptes
Exec=/usr/sbin/epoptes-client
Icon=epoptes
Terminal=false
Type=Application
Categories=Settings;System;
# X-GNOME-AutoRestart=true
