Source: epoptes
Section: admin
Priority: extra
Maintainer: Fotis Tsamis <ftsamis@gmail.com>
Uploaders: Vagrant Cascadian <vagrant@debian.org>
Build-Depends: debhelper (>= 7.3.0)
Build-Depends-Indep: python (>= 2.6.5), 
 python-distutils-extra (>= 2.4)
Standards-Version: 3.9.2
Vcs-Bzr: http://bazaar.launchpad.net/~epoptes-devs/epoptes/trunk
Vcs-Browser: http://bazaar.launchpad.net/~epoptes-devs/epoptes/trunk/files

Package: epoptes
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, librsvg2-common,
 notification-daemon | xfce4-notifyd, openssl, python-gtk2, python-notify,
 python-twisted-core, python-vte, zenity, python-dbus
Recommends: epoptes-client, vinagre
Suggests: ltsp-server, squid, ident2, vlc
Description: Computer lab management tool
 Contains the server daemon and a GUI for controlling client PCs.
 .
 It supports LTSP installations, but it also works without LTSP.

Package: epoptes-client
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, xvnc4viewer, screen, socat
Recommends: python-gtk2, x11vnc, zenity
Suggests: ident2
Description: Computer lab management tool (client)
 .
 Contains the client daemon and some utilities for getting screenshots etc.
