Source: epoptes
Section: admin
Priority: extra
Maintainer: Epoptes Developers <epoptes@lists.launchpad.net>
Uploaders: Vagrant Cascadian <vagrant@debian.org>, Alkis Georgopoulos <alkisg@gmail.com>, Fotis Tsamis <ftsamis@gmail.com>
Build-Depends: debhelper (>= 9),
 python (>= 2.6.5), 
 python-distutils-extra (>= 2.4)
Standards-Version: 3.9.8
Vcs-Git: https://git.launchpad.net/epoptes
Vcs-Browser: https://git.launchpad.net/epoptes
Homepage: http://www.epoptes.org

Package: epoptes
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, adduser, faketime, iperf,
 iproute2 | iproute, librsvg2-common, notification-daemon | xfce4-notifyd,
 openssl, python-dbus, python-gtk2, python-netifaces, python-notify,
 python-openssl, python-pycha, python-twisted-core, socat, x11vnc, xterm,
 xvnc4viewer | ssvnc | vnc-viewer
Recommends: epoptes-client
Description: Computer lab management tool
 Epoptes is an open source computer lab management and monitoring tool. It
 allows for screen broadcasting and monitoring, remote command execution, 
 message sending, imposing restrictions like screen locking or sound muting 
 the clients and much more!
 .
 Contains the server daemon and a GUI for controlling client PCs.
 .
 It supports LTSP installations, but it also works without LTSP.

Package: epoptes-client
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, bsdmainutils,
 iperf, iproute2 | iproute, librsvg2-common, procps, python-gtk2,
 screen, socat, x11vnc, xvnc4viewer | ssvnc | vnc-viewer
Recommends: openssl, xterm
Suggests: ethtool
Description: Computer lab management tool (client)
 Epoptes is an open source computer lab management and monitoring tool. It
 allows for screen broadcasting and monitoring, remote command execution, 
 message sending, imposing restrictions like screen locking or sound muting 
 the clients and much more!
 .
 Contains the client daemon and some utilities for getting screenshots etc.
