# This file is part of Epoptes, http://epoptes.org
# Copyright 2018 the Epoptes team, see AUTHORS.
# SPDX-License-Identifier: GPL-3.0-or-later
[Unit]
Description=Epoptes client
Documentation=man:epoptes-client(8)
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/sbin/epoptes-client
ExecStop=/usr/bin/pkill -QUIT -U 0 -f '^epoptes-client$'
# Don't put the unit in a failed state if it exits from the pkill above
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
