#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# Fall back to python-support on systems that lack dh_python2
WITH_PYTHON2 = $(shell test -f /usr/bin/dh_python2 && echo "--with python2")

export DH_PYCENTRAL=include-links dh_pycentral -i

%:
	dh  $@ ${WITH_PYTHON2}

override_dh_pysupport:
	dh_pycentral
